* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

body, html {
  height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Perro\ en\ los\ campos.webp");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* This is the button to go to About Me page */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.paw {
  position: absolute;
  bottom: -10px; /* Ajusta según tus necesidades */
  left: -50px;
  width: 100px; /* Ajusta el tamaño a tu preferencia */
  height: 100px; /* Ajusta el tamaño a tu preferencia */
  background: url('images/obi-removebg-preview.png') no-repeat center center;
  background-size: contain;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Dog paw animation from here */
.contact-link:hover .paw {
  visibility: visible;
  opacity: 1;
  animation: paw-spin 2s ease-out forwards;
}

@keyframes paw-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
